<div class="result">
  <h4>Receita</h4>
  <div class="recipe">
    <%= image_tag @recipe.image %>
    <div class="recipe-info">
      <span class="recipe-name">
        <%= @recipe.name %>
      </span>
      <span class="recipe-category">
        <%= @recipe.category.description%>
      </span>
      <span class="user-name">
        @<%= @recipe.user.username %>
      </span>
      <span class="recipe-date">
        <%= l @recipe.created_at, format: :short %>
      </span>
    </div>
  </div>
</div>
<div class="result">
  <div class="recipe">
    <div class="recipe-info" style="margin: 10px;">
      <span>Ingredientes:</span>
      <span class="recipe-category">
        <%= @recipe.description%>
      </span>
      <hr>
      <span>Modo de Preparo:</span>
      <span class="recipe-name">
        <%= @recipe.preparation %>
      </span>
    </div>
  </div>
</div>
<div class="result">
  <div class="recipe">
    <%= image_tag "macarrao" %>
    <div class="recipe-info">
      <span class="recipe-name">
        <%= @recipe.name %>
      </span>
      <span class="recipe-category">
        <%= @recipe.category.description%>
      </span>
      <span class="user-name">
        @<%= @recipe.user.username %>
      </span>
      <span class="recipe-date">
        <%= l @recipe.created_at, format: :short %>
      </span>
    </div>
  </div>
</div>
<div class="result">
  <div class="recipe">
    <%= image_tag "macarrao" %>
    <div class="recipe-info">
      <span class="recipe-name">
        <%= @recipe.name %>
      </span>
      <span class="recipe-category">
        <%= @recipe.category.description%>
      </span>
      <span class="user-name">
        @<%= @recipe.user.username %>
      </span>
      <span class="recipe-date">
        <%= l @recipe.created_at, format: :short %>
      </span>
    </div>
  </div>
</div>
<div class="result">
  <div class="recipe">
    <%= image_tag "macarrao" %>
    <div class="recipe-info">
      <span class="recipe-name">
        <%= @recipe.name %>
      </span>
      <span class="recipe-category">
        <%= @recipe.category.description%>
      </span>
      <span class="user-name">
        @<%= @recipe.user.username %>
      </span>
      <span class="recipe-date">
        <%= l @recipe.created_at, format: :short %>
      </span>
    </div>
  </div>
</div>
