<!DOCTYPE html>
<html>
<head>
  <title>Reeducar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

<body>
  <div class="body">
    <% if current_user %>
    <%= render "layouts/shared/nav" %>
    <% else %>
    <%= render "layouts/shared/nav-logo" %>
    <% end %>
    <div class="card">
      <%= yield %>
    </div>
    <% if current_user %>
    <%= render "layouts/shared/footer" %>
    <% end %>
  </div>
</body>
</html>
